---
import Layout from "../Layouts/Layout.astro";
import EventCard from "../components/calendar/EventCard.astro";
import FilterButtons from "../components/calendar/FilterButtons.astro";
import CalendarWidget from "../components/calendar/CalendarWidget.astro";
import EventList from "../components/calendar/EventList.astro";
import baletImage from "../assets/images/calendar/balet.png";
import theatreShowImage from "../assets/images/calendar/theatre-show.png";
import smallEventImage from "../assets/images/calendar/small-event.png";

const imagePaths = {
  theatreShowSrc: theatreShowImage.src,
  smallEventSrc: smallEventImage.src,
};
---

<Layout
  navbarVariant="default"
  includePreFooterCTA={false}
  title="Календарь - Maag"
  useClientRouter={true}
>
  <main
    id="calendar-wrapper"
    class="bg-base-200 px-4 sm:px-6 lg:px-20 py-12"
    x-data=`$lazy('calendar', { imagePaths: ${JSON.stringify(imagePaths)} })`
    @change-month.window="changeMonth($event.detail)"
    @date-selected.window="selectDate($event.detail.day)"
    @filter-changed.window="setFilter($event.detail.filter)"
  >
    <div>
      <div>
        <h1
          class="text-4xl font-serif uppercase tracking-widest text-black mb-18"
        >
          К А Л Е Н Д А Р Ь
        </h1>
        <div class="p-8">
          <EventCard
            tag="Выставка"
            date="10-15 Сентября"
            title="Огюст Роден и его бабы. Сплетни, интриги, расследования."
            location="Место"
            image={baletImage}
            class="h-[70vh]"
          />
          <div class="flex flex-col md:flex-row mt-6">
            <EventCard
              tag="Выставка"
              date="10-15 Сентября"
              title="Огюст Роден и его бабы. Сплетни, интриги, расследования."
              location="Место"
              image={baletImage}
              class="mb-6 md:mb-0 md:mr-6"
              textSize="med"
            />
            <EventCard
              tag="Выставка"
              date="10-15 Сентября"
              title="Огюст Роден и его бабы. Сплетни, интриги, расследования."
              location="Место"
              image={baletImage}
              textSize="med"
            />
          </div>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row mt-16">
        <div class="w-full mb-16 lg:mb-0 lg:mr-16">
          <h2 class="text-lg font-serif uppercase tracking-widest mb-8">
            Расписание
          </h2>
          <div class="w-full flex flex-row gap-4 mb-18">
            <CalendarWidget />
            <FilterButtons />
          </div>
        </div>
      </div>
    </div>
    <section class="w-full">
      <EventList />
    </section>
  </main>
</Layout>
