---
import LandingBody from "@/components/common/LandingBody.astro";
import Layout from "../Layouts/Layout.astro";
import eric from "../assets/common/image.jpg";
import logoFull from "../assets/logo/logoFull.svg";
import { Image } from "astro:assets";
import CategoryHero from "@/components/common/CategoryHero.astro";
import ArticleCard from "@/components/common/ArticleCard.astro";
---

<Layout
  navbarVariant="default"
  includePreFooterCTA={false}
  title="Maag"
  useClientRouter={true}
>
  <CategoryHero title={"Paris"} />
  <LandingBody isLanding={false} />
  <div
    id="culture-articles-box"
    class="w-full flex flex-col gap-6 lg:flex-row lg:gap-8 items-stretch justify-start py-8 px-4 min-h-[100px]"
  >
    <ArticleCard isNetlenka={false} />
    <ArticleCard isNetlenka={false} />
    <ArticleCard isNetlenka={false} />
  </div>
  <div
    id="culture-articles-box"
    class="w-full flex flex-col gap-6 lg:flex-row lg:gap-8 items-stretch justify-start py-8 px-4 min-h-[100px]"
  >
    <ArticleCard isNetlenka={false} />
    <ArticleCard isNetlenka={false} />
    <ArticleCard isNetlenka={false} />
  </div>
</Layout>
