---
import Layout from "../../Layouts/Layout.astro";
import { interviewsApi } from "../../lib/api/api";
import ArticleHeader from "../../components/article/ArticleHeader.astro";
import ArticleAuthor from "../../components/article/ArticleAuthor.astro";
import ArticleImage from "@/components/article/ArticleImage.astro";
import ArticleDate from "../../components/article/ArticleDate.astro";
import SocialShare from "../../components/article/SocialShare.astro";
import QuoteIcon from "../../assets/icons/quote.svg";
import { Image } from "astro:assets";

interface Block {
  type: string;
  text?: string;
  url?: string;
  caption?: string;
  question?: string;
  answer?: string;
  linkedContentType?: "article" | "event" | "interview" | "flipper";
  linkedContentId?: string;
  linkedContentTitle?: string;
  left?: { type: string; content: string; caption?: string };
  right?: { type: string; content: string; caption?: string };
}

const { id } = Astro.params;

let interview = null;
try {
  if (id) {
    interview = await interviewsApi.getById(id);
  }
} catch (error) {
  console.error("Failed to fetch interview:", error);
}

if (!interview) {
  return Astro.redirect("/404");
}

const {
  title,
  author,
  interviewee,
  content,
  imageUrl,
  imageCaption,
  tags,
  lead,
} = interview;
const authorName = author ? `${author.firstName} ${author.lastName}` : "MAAG";
const transitionAliases = [`landing-body-main-article-image-${id}`];
---

<Layout title={title} useClientRouter={true}>
  <div class="pt-[50px] pb-[70px] flex flex-col items-center gap-[50px]">
    <div class="flex flex-col gap-4 max-w-[825px] w-full px-4">
      <ArticleHeader category={"Интервью"} title={title} lead={lead} />
      {author && <ArticleAuthor name={authorName} avatarUrl={author.avatar} />}
      {interview && <ArticleDate createdAt={interview.createdAt} />}
    </div>

    {
      imageUrl && (
        <ArticleImage
          src={imageUrl}
          alt={imageCaption || title}
          caption={imageCaption}
          transitionName={`main-article-image-${id}`}
          transitionAliases={transitionAliases}
          figureClass="max-w-[1200px]"
          imageClass="shadow-lg"
          figcaptionClass="text-center text-sm text-gray-500 mt-2"
        />
      )
    }

    <!-- {
      imageUrl && (
        <figure class="w-full max-w-[1200px]">
          <Image
            src={imageUrl}
            alt={imageCaption || title}
            class="article-image"
            inferSize={true}
          />
          {imageCaption && (
            <figcaption class="text-center text-sm text-gray-500 mt-2">
              {imageCaption}
            </figcaption>
          )}
        </figure>
      )
    } -->

    <div class="max-w-[825px] w-full flex flex-col gap-12 px-4">
      {
        content.map((block: Block) => {
          switch (block.type) {
            case "first-paragraph":
              return (
                <p class="text-lg first-letter:text-4xl first-letter:font-bold font-thin font-oswald">
                  {block.text}
                </p>
              );
            case "paragraph":
              return (
                <p class="text-base font-oswald font-thin">{block.text}</p>
              );
            case "h2":
              return (
                <h2 class="text-2xl font-oswald font-semibold">{block.text}</h2>
              );
            case "h3":
              return (
                <h3 class="text-xl font-oswald font-semibold">{block.text}</h3>
              );
            case "quote":
              return (
                <div class="p-2 flex flex-col items-center justify-center gap-2">
                  <QuoteIcon class="w-8 h-8" />
                  <blockquote class="text-3xl italic font-oswald pl-4 my-4 font-thin">
                    {block.text}
                  </blockquote>
                  <QuoteIcon class="w-8 h-8 rotate-180" />
                </div>
              );
            case "image":
              return (
                <figure>
                  <Image
                    src={block.url}
                    alt={block.caption || "Interview content image"}
                    class="article-image object-cover"
                    inferSize={true}
                  />
                  {block.caption && (
                    <figcaption class="text-center text-xs font-oswald text-base-content/60 mt-2">
                      {block.caption}
                    </figcaption>
                  )}
                </figure>
              );
            case "qa":
              return (
                <div class="space-y-4">
                  <div>
                    <p class="inline font-oswald font-semibold italic">
                      {block.question}
                    </p>
                  </div>
                  <div>
                    <p class="inline font-oswald font-thin">{block.answer}</p>
                  </div>
                </div>
              );
            case "link": {
              const hrefMap = {
                article: `/article/${block.linkedContentId}`,
                event: `/events/${block.linkedContentId}`,
                interview: `/interviews/${block.linkedContentId}`,
                flipper: `/flippers/${block.linkedContentId}`,
              };
              const href =
                block.linkedContentType && block.linkedContentId
                  ? hrefMap[block.linkedContentType]
                  : "#";
              return (
                <p class="text-lg font-thin">
                  <a href={href} class="text-blue-600 hover:underline">
                    {block.text || "Ссылка"}
                  </a>
                </p>
              );
            }
            case "two-columns":
              return (
                <div class="w-full my-4">
                  <div class="flex flex-col lg:flex-row gap-8 items-center">
                    <div class="w-full lg:w-1/2 flex justify-center">
                      {block.left?.type === "image" ? (
                        <figure class="flex flex-col items-center">
                          <img
                            src={block.left.content}
                            alt={block.left.caption || "Left column image"}
                            class="article-image"
                          />
                          {block.left.caption && (
                            <figcaption class="text-center font-oswald tracking-wide text-xs text-gray-500 mt-2">
                              {block.left.caption}
                            </figcaption>
                          )}
                        </figure>
                      ) : (
                        <p class="text-lg font-oswald tracking-wide text-justify font-thin">
                          {block.left?.content}
                        </p>
                      )}
                    </div>
                    <div class="w-full lg:w-1/2 flex justify-center">
                      {block.right?.type === "image" ? (
                        <figure class="flex flex-col items-center">
                          <img
                            src={block.right.content}
                            alt={block.right.caption || "Right column image"}
                            class="article-image"
                          />
                          {block.right.caption && (
                            <figcaption class="text-center font-oswald tracking-wide text-xs text-gray-500 mt-2">
                              {block.right.caption}
                            </figcaption>
                          )}
                        </figure>
                      ) : (
                        <p class="text-lg font-oswald tracking-wide text-justify font-thin">
                          {block.right?.content}
                        </p>
                      )}
                    </div>
                  </div>
                </div>
              );
            default:
              return null;
          }
        })
      }
    </div>
  </div>
</Layout>
