---
import { Image } from "astro:assets";

import picture1 from "../../assets/images/culture.jpg";

interface ArticleCardProps {
  isNetlenka?: boolean;
  title?: string;
  category?: string;
  date?: string;
  transitionName?: string;
  imageUrl?: string;
  href?: string;
}

const {
  isNetlenka = true,
  title = "Без названия",
  category = "Культура",
  date = "",
  transitionName,
  imageUrl,
  href = "#",
} = Astro.props as ArticleCardProps;

const heightClassContainer = isNetlenka
  ? "lg:max-h-[300px]"
  : "lg:max-h-[370px]";
const pictureHeightClass = isNetlenka ? "lg:max-h-[200px]" : "lg:max-h-[270px]";
const displayImage = imageUrl || picture1.src;
const formattedCategory = `<span class="text-accent">${category}</span>`;
const meta = [date, formattedCategory]
  .filter(Boolean)
  .join(
    "<span class='text-black font-inter uppercase tracking-wide'> • </span>",
  );
---

<div class:list={["w-full flex flex-col gap-2", heightClassContainer]}>
  <div class="w-full overflow-hidden">
    <a
      href={href}
      class="block transition-opacity duration-200 hover:opacity-90"
    >
      {
        imageUrl ? (
          <img
            src={displayImage}
            alt={title}
            class:list={[
              "w-full object-cover object-center",
              pictureHeightClass,
            ]}
            loading="lazy"
            transition:name={transitionName}
          />
        ) : (
          <Image
            src={picture1}
            alt="Culture image"
            class:list={[
              "w-full object-cover object-center",
              pictureHeightClass,
            ]}
            loading="eager"
            transition:name={transitionName}
          />
        )
      }
    </a>
  </div>
  {
    meta && (
      <p class="text-[11px] text-base-content/55 font-inter uppercase tracking-wide mt-1">
        <Fragment set:html={meta} />
      </p>
    )
  }
  <a href={href} class="block">
    <h3
      class="text-lg leading-tight font-oswald mb-3 hover:underline transition-opacity duration-200 hover:opacity-90"
    >
      {title}
    </h3>
  </a>
</div>
