---
import Navbar from "./Navbar.astro";

interface HeaderProps {
  variant?: "default" | "transparent";
  cultureText?: string;
  guideText?: string;
  childrenText?: string;
  calendarText?: string;
  aboutText?: string;
  languagesText?: string;
  buttonText?: string;
  showLogoInNav?: boolean;
}
const {
  variant,
  cultureText,
  guideText,
  childrenText,
  calendarText,
  aboutText,
  languagesText,
  buttonText,
  showLogoInNav,
} = Astro.props as HeaderProps;
---

<Navbar
  variant={variant}
  languages={languagesText}
  showLogoInNav={showLogoInNav}
>
  <span slot="culture">{cultureText}</span>
  <span slot="guide">{guideText}</span>
  <span slot="children">{childrenText}</span>
  <span slot="calendar">{calendarText}</span>
  <span slot="about">{aboutText}</span>
  <span slot="button">{buttonText}</span>
</Navbar>