---
import logo from "../../assets/logo/logo.svg";
import { Search, Instagram, Youtube, X } from "@lucide/astro";
import { Image } from "astro:assets";
import searchIcon from "../../assets/icons/search-mobile.svg";
import burgerIcon from "../../assets/icons/burger-mobile.svg";

interface NavbarProps {
  variant: "default" | "transparent";
  languages: string;
  user?: boolean;
  showLogoInNav?: boolean;
}

const {
  variant,
  languages,
  user = true,
  showLogoInNav = true,
} = Astro.props as NavbarProps;

const navbarClasses = variant === "default" ? "bg-base-100" : "bg-transparent";
const positionClasses = variant === "default" ? "relative" : "absolute";
const colorClasses = "text-base-content";
const borderClasses = "border-none";

const logoSrc = logo.src;
---

<div x-data="{ open: false }">
  <nav
    class:list={[
      "navbar w-full",
      navbarClasses,
      positionClasses,
      colorClasses,
      borderClasses,
      "py-2 lg:py-6 px-4 lg:px-12 z-50",
    ]}
  >
    <div
      class="navbar-start flex flex-row items-center justify-start lg:justify-center gap-18"
    >
      {
        showLogoInNav && (
          <a class="cursor-pointer text-xl" href="/">
            <img src={logoSrc} alt="Maag logo" class="w-20 lg:w-16" />
          </a>
        )
      }
      <div class="hidden lg:flex ml-4">
        <ul
          class={`menu menu-horizontal px-1 ${colorClasses} font-semibold text-[16px]`}
        >
          <li
            class="flex flex-row items-center uppercase font-light tracking-[0.2em]"
          >
            <a href="/culture">Культура</a>
            <span
              class="text-base text-base-content/20 pointer-events-none select-none"
              >|</span
            >
          </li>
          <li
            class="flex flex-row items-center uppercase font-light tracking-[0.2em]"
          >
            <a href="/building">Париж</a>
            <span
              class="text-base text-base-content/20 pointer-events-none select-none"
              >|</span
            >
          </li>
          <li
            class="flex flex-row items-center uppercase font-light tracking-[0.2em]"
          >
            <a href="/building">Дети</a>
            <span
              class="text-base text-base-content/20 pointer-events-none select-none"
              >|</span
            >
          </li>
          <li
            class="flex flex-row items-center uppercase font-light tracking-[0.2em]"
          >
            <a href="/calendar">Календарь</a>
            <span
              class="text-base text-base-content/20 pointer-events-none select-none"
              >|</span
            >
          </li>
          <li
            class="flex flex-row items-center uppercase font-light tracking-[0.2em]"
          >
            <a href="/building">О проекте</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="navbar-center">
      {/* This div is intentionally left empty to push start and end apart */}
    </div>

    <div class="navbar-end">
      <div class="hidden lg:flex gap-2 items-center justify-center">
        <button class="btn btn-ghost btn-circle">
          <Image src={searchIcon} alt="Search" class="h-5 w-5" />
        </button>
        <button class="btn btn-ghost btn-circle">
          <Instagram class="h-5 w-5" />
        </button>
        <button class="btn btn-ghost btn-circle">
          <Youtube class="h-5 w-5" />
        </button>
        <a
          href="#"
          class="btn bg-base-300 text-base-content rounded-lg"
          id="enterButton">Войти</a
        >
      </div>

      <div class="flex items-center lg:hidden">
        <button class="btn btn-ghost btn-circle">
          <Image src={searchIcon} alt="Search" class="h-5 w-5" />
        </button>
        <button @click="open = !open" class="btn btn-ghost btn-circle">
          <Image
            x-show="!open"
            src={burgerIcon}
            alt="Open menu"
            class="h-4 w-5"
          />
          <X x-show="open" class="h-6 w-6" />
        </button>
      </div>
    </div>
  </nav>

  <!-- Mobile Menu Panel -->
  <div
    x-show="open"
    x-transition
    class="lg:hidden fixed top-0 left-0 w-full h-full bg-base-100 shadow-lg z-[51]"
    @click.away="open = false"
    style="display: none;"
  >
    <ul class="menu p-4 pt-24 text-left">
      <li><a href="/culture" class="py-3 text-lg">Культура</a></li>
      <li><a href="/building" class="py-3 text-lg">Париж</a></li>
      <li><a href="/building" class="py-3 text-lg">Дети</a></li>
      <li><a href="/calendar" class="py-3 text-lg">Календарь</a></li>
      <li><a href="/building" class="py-3 text-lg">О проекте</a></li>
      <li class="pt-4 mt-4 border-t border-base-300">
        <a href="#" class="btn bg-base-300 text-base-content w-full">Войти</a>
      </li>
    </ul>
  </div>
</div>

<style>
  nav {
    font-family: "Lora", serif !important;
  }
  #enterButton {
    font-family: "Inter", sans-serif !important;
  }
</style>
