---
import logo from "../../assets/logo/logo.svg";

import { Search, Instagram, Youtube } from "@lucide/astro";

interface NavbarProps {
  variant: "default" | "transparent";
  languages: string;
  user?: boolean;
}

const { variant, languages, user = true } = Astro.props as NavbarProps;
const navbarClasses = variant === "default" ? "bg-base-100" : "bg-transparent";
const positionClasses = variant === "default" ? "relative" : "absolute";
const colorClasses = "text-base-content";
const borderClasses = "border-none";

const logoSrc = logo.src;
---

<nav
  x-data="{ user: false }"
  class={`navbar w-full ${navbarClasses} ${positionClasses} ${colorClasses} ${borderClasses} py-2 lg:py-6 lg:px-4 z-50`}
>
  <div class="navbar-start">
    <a class="cursor-pointer text-xl" href="/">
      <img src={logoSrc} alt="Wurkspaces.dev logo" class="w-20 lg:w-16" />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul
      class={`menu menu-horizontal px-1 ${colorClasses} font-semibold text-[16px]`}
    >
      <li
        class="flex flex-row items-center uppercase font-light tracking-[0.2em]"
      >
        <a href="/culture">Культура</a>
        <span
          class="text-base text-base-content/20 pointer-events-none select-none"
          >|</span
        >
      </li>
      <li
        class="flex flex-row items-center uppercase font-light tracking-[0.2em]"
      >
        <a href="/building">Париж</a>
        <span
          class="text-base text-base-content/20 pointer-events-none select-none"
          >|</span
        >
      </li>
      <li
        class="flex flex-row items-center uppercase font-light tracking-[0.2em]"
      >
        <a href="/building">Дети</a>
        <span
          class="text-base text-base-content/20 pointer-events-none select-none"
          >|</span
        >
      </li>
      <li
        class="flex flex-row items-center uppercase font-light tracking-[0.2em]"
      >
        <a href="/calendar">Календарь</a>
        <span
          class="text-base text-base-content/20 pointer-events-none select-none"
          >|</span
        >
      </li>
      <li
        class="flex flex-row items-center uppercase font-light tracking-[0.2em]"
      >
        <a href="/building">О проекте</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h8m-8 6h16"></path>
      </svg>
    </div>
  </div>
  <div class="navbar-end hidden lg:flex">
    <div class="flex gap-2 items-center justify-center">
      <button class="btn btn-ghost btn-circle">
        <Search class="h-5 w-5" />
      </button>
      <button class="btn btn-ghost btn-circle">
        <Instagram class="h-5 w-5" />
      </button>
      <button class="btn btn-ghost btn-circle">
        <Youtube class="h-5 w-5" />
      </button>
      <a
        href="#"
        class="btn bg-base-300 text-base-content rounded-lg"
        id="enterButton">Войти</a
      >
    </div>
  </div>
</nav>

<style>
  nav {
    font-family: "Lora", serif !important;
  }
  #enterButton {
    font-family: "Inter", sans-serif !important;
  }
  #userDropdown {
    font-family: "Inter", sans-serif !important;
  }
</style>
