---
import { Image } from "astro:assets";
import picture3 from "../../assets/images/article_content/par.jpeg";

interface NetlenkaCardProps {
  title?: string;
  category?: string;
  date?: string;
  hideDate?: boolean;
  lead?: string;
  transitionName?: string;
  imageUrl?: string;
  href?: string;
}

const {
  title = "Без названия",
  category = "Самое Читаемое",
  date = "",
  hideDate = false,
  lead = "",
  transitionName,
  imageUrl,
  href = "#",
} = Astro.props as NetlenkaCardProps;

const displayImage = imageUrl || picture3.src;
---

<div
  class="w-full flex flex-col gap-2 max-h-[300px] min-w-[220px] lg:min-w-0 max-w-[303px]"
>
  <div class="w-full aspect-[3/2] overflow-hidden">
    <a
      href={href}
      class="block w-full h-full transition-opacity duration-200 hover:opacity-90"
    >
      {
        imageUrl ? (
          <img
            src={displayImage}
            alt={title}
            class="w-full h-full object-cover object-center"
            loading="lazy"
            transition:name={transitionName}
          />
        ) : (
          <Image
            src={picture3}
            alt="Hot content image"
            class="w-full h-full object-cover object-center"
            loading="eager"
            transition:name={transitionName}
          />
        )
      }
    </a>
  </div>
  {
    (date || category) && (
      <div class="flex flex-row items-center gap-2 text-xs text-base-content/55 font-inter uppercase tracking-[0.22em] mt-1">
        {date && (
          <span class:list={["text-xs", hideDate && "hidden"]}>{date}</span>
        )}
        {date && category && (
          <span
            class:list={[
              "text-black text-lg font-bold font-['Inter'] leading-none",
              hideDate && "hidden",
            ]}
          >
            ·
          </span>
        )}
        {category && (
          <span class="text-xs font-medium uppercase tracking-[0.25em] text-accent font-['Inter']">
            {category}
          </span>
        )}
      </div>
    )
  }
  <h3 class="text-base lg:text-lg leading-tight font-oswald mb-3">
    <a
      href={href}
      class="hover:underline transition-opacity duration-200 hover:opacity-90 truncate block w-full"
    >
      {title}
    </a>
  </h3>
  {
    lead && (
      <p class="text-sm leading-relaxed text-base-content/75 font-oswald font-thin hidden">
        {lead}
      </p>
    )
  }
</div>
