---
interface Props {
  src: string;
  alt: string;
  caption?: string;
  transitionName?: string;
  transitionAliases?: string[];
}

const {
  src,
  alt,
  caption = "",
  transitionName,
  transitionAliases = [],
} = Astro.props as Props;
---

<figure class="grid gap-3">
  <div class="overflow-hidden bg-base-100 lg:flex lg:justify-center">
    <img
      src={src}
      alt={alt}
      class="block h-auto max-h-[70vh] w-full object-cover lg:w-auto lg:max-w-full lg:max-h-[calc((100vh-150px)*0.75)] lg:object-contain"
      transition:name={transitionName}
    />
  </div>

  {
    caption && (
      <figcaption class="text-xs text-base-content/55 font-inter">
        {caption}
      </figcaption>
    )
  }

  {
    transitionAliases.map((alias) => (
      <img
        src={src}
        alt=""
        aria-hidden="true"
        class="fixed h-px w-px pointer-events-none -z-10 opacity-0"
        transition:name={alias}
      />
    ))
  }
</figure>
